<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/user">Belajar Apa?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/<%= userId %>/course/mycourse">My Course</a>
          <!-- GANTI HREF TIAP PERGI -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/<%= userId %>/profile">My profile</a>
          <!-- GANTI HREF TIAP PERGI -->
        </li>
      <form class="d-flex" role="search" action="/user/<%= userId %>/course">
        <!-- GANTI TIAP PERGI -->
        <input class="form-control me-2" type="search" placeholder="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
    </div>
  </div>
</nav>