<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Detail Course</h1>


    <form action="/admin/course/<%=data.id%>/detail/add" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="linkCourse">Link Course:</label><br>
        <input type="text" id="linkCourse" name="linkCourse"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>