<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Admin Course</h1>
    <form action="/admin/course/<%=data.id%>/edit" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%=data.name  %>"><br>

        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" value="<%=data.description  %>"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>