<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register - Belajar Apa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .register-form {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            color: black;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="register-form" data-bs-theme="light">
            <h2 class="text-center mb-4">Register</h2>
            <% errorMsg.forEach(el => { %>
                <ul style="color: red;">
                    <li>
                        <%= el %>
                    </li>
                </ul>
                
            <%}); %>

            <form action="/register" method="post">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" id="userName" name="userName" >
                </div>
                <div class="form-group">
                    <label for="parentName">Parent / Guardian Name</label>
                    <input type="text" class="form-control" id="parentName" name="parentName" >
                </div>
                <div class="form-group">
                    <label for="benefactor">Benefactor's name</label>
                    <input type="text" class="form-control" id="benefactor" name="benefactor" placeholder="dont have a benefactor? you can leave it empty" >
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="benefactor" name="age">
                </div>
                <div class="form-group">
                    <label for="gender">gender</label>
                    <select class="form-select" aria-label="Default select example" name="gender">
                        <option disabled selected>Open this select menu</option>
                        <% gender.forEach(el => { %>
                            <option value="<%= el %>"><%= el %></option>
                        <%}); %>
                      </select>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" >
                </div>
                <div class="form-group">
                    <label for="idCardNumber">id Card Number</label>
                    <input type="text" class="form-control" id="idCardNumber" name="idCardNumber">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" >
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" >
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <p class="mt-3 text-center">Already have an account? <a href="/login">Try logging in</a></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
