<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Selamat Datang Admin, .....</h1>
    <h3>Fitur yang bisa dilakukan Admin</h3>
    <h4>1. Melihat seluruh Kursus</h4>
    <h4>2. Menambah Course</h4>
    <h4>3. Mengedit Course</h4>
    <h4>4. Delete Course</h4>
    <h4>Menampilkan Seluruh Admin</h4>
    <a href='admin/course'>Link</a>

</body>

</html>